* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar-default { 
    background-color: #283e4a;
    border-color: #283e4a;
}

nav {
    background-color: #283e4a;
    position: fixed;
    /* width: 100%; */
    top: 0;
    text-align: center;
 
}

nav ul {
   padding: 0;
    margin: 0 auto;
}

nav li a {
    display: inline;
    line-height: 50px;
    text-decoration: none;
    color: #337ab7;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  
    font-family: 'Roboto', sans-serif;
}

.post {
    padding: 20px 0;
}


.comments-container {
    display: none;
}


.mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 94%;
    padding: 0;
    border: 2px solid black;
  position: relative;
}

.slider {
    margin-top:50px;
    height: 130px;
    font-size: 16px;
    overflow: hidden;
    color:black;
    background:transparent;
}

.slider div,
.slider div p {
    margin: 0 auto;
    padding: 0;
}

.slider div {
    animation: slide 10s 2s infinite;
}
.slider div h1{
    font-size: 25px;
}
@keyframes slide {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -18px;
    }
    50% {
        margin-top: -36px;
    }
    75% {
        margin-top: -54px;
    }
    100% {
        margin-top: 0;
    }
}

.btn-item-form {
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 320px;
    margin:50px auto 100px auto;

    padding: 20px 16px;
    font-size: 22px;
    background: #337ab7;
    color:white;
}
.container-table {
    display: table;
}

.vertical-center-row {
    vertical-align: middle;
    
}

.modal-body{
    background-color: white;
}

.modal-input{
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0px;
    background: #283e4a;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

h3 {
    margin-bottom: 20px;
    margin-top: 0px;
    color:white;
}

.Social-Icon {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-block;
}
.contact-info li a {
    font-size: 20px;
    color: white;
 
}

ul.contact-info {
    margin: 0 auto;
    padding: 0;
}

input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }
  #stories{
      margin-bottom: 10%;
  }

  @media screen and (max-width: 600px){

    .Social-Icon {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        display: inline-block;
    }

    .contact-info li a {
        font-size: 15px;
        color:white;
        margin: 0 auto;
    }

h3 {
    margin-bottom: 10px;
    margin-top: 0px;
    color:white;
}

  }